[blame]
    coloring = highlightRecent
    date = relative
[branch]
    autoSetupRebase = always
[commit]
    gpgSign = true
[core]
    autocrlf = true
    pager = delta
    safecrlf = false
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
    symlinks = true
[credential]
    helper = store
[delta]
    dark = true
    features = zebra-dark
    file-decoration-style = blue
    grep-output-type = ripgrep
    hunk-header-decoration-style = blue
    hyperlinks = true
    line-numbers = true
    navigate = true
    pager = less -FKRSX
    syntax-theme = Visual Studio Dark+
    whitespace-error-style = auto darkred
[diff]
    algorithm = histogram
    colorMoved = default
    renames = copies
[gpg]
    format = ssh
[gpg.ssh]
    allowedSignersFile = ~/.ssh/allowed_signers
    defaultKeyCommand = C:/Windows/System32/OpenSSH/ssh-add.exe -L
[grep]
    column = true
    lineNumber = true
[init]
    defaultBranch = master
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictStyle = diff3
[pull]
    rebase = merges
[push]
    default = nothing
    gpgSign = if-asked
[rebase]
    missingCommitsCheck = warn
[sendemail]
    smtpEncryption = tls
    smtpServer = smtp.gmail.com
    smtpServerPort = 587
    smtpUser = alex@alexrp.com
[stash]
    showIncludeUntracked = true
    showPatch = true
    showStat = true
[status]
    showStash = true
    showUntrackedFiles = all
[tag]
    gpgSign = true
[user]
    email = alex@alexrp.com
    name = Alex Rønne Petersen
    signingkey = ~/.ssh/id_ed25519
