[blame]
    coloring = highlightRecent
    date = relative
[branch]
    autoSetupRebase = always
[commit]
    gpgSign = true
[core]
    editor = nano
    autocrlf = true
    pager = less -FKRSX
    safecrlf = false
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
    symlinks = true
[diff]
    algorithm = histogram
    renames = copies
[gpg]
    format = ssh
[gpg.ssh]
    allowedSignersFile = ~/.ssh/allowed_signers
    defaultKeyCommand = C:/Windows/System32/OpenSSH/ssh-add.exe -L
[grep]
    column = true
    lineNumber = true
[init]
    defaultBranch = master
[pull]
    rebase = merges
[push]
    default = nothing
    gpgSign = if-asked
[rebase]
    missingCommitsCheck = warn
[stash]
    showIncludeUntracked = true
    showPatch = true
    showStat = true
[status]
    showStash = true
    showUntrackedFiles = all
[submodule]
    recurse = true
[tag]
    gpgSign = true
[user]
    email = alex@alexrp.com
    name = Alex Rønne Petersen
    signingkey = ~/.ssh/id_ed25519
